*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 133px 30px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-block-end: 5px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: inline-block;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.search-form__label:active {
  outline: none;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:not(:last-child) {
  margin-inline-end: 13px;
}

.search-form__textfield {
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-left: none;
  border-right: none;
  width: 225px;
  height: 27px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  padding: 0;
  appearance: none;
}

.search-form__textfield:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  outline: none;
  border: 1px solid #fff;
}

.search-form__checkbox + .search-form__pseudo-checkbox {
  display: inline-block;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  vertical-align: middle;
}

.search-form__checkbox[type="checkbox"]:active + .search-form__pseudo-checkbox {
  width: 15px;
  height: 15px;
  outline: 1px solid #fff;
  outline-offset: 1px;
  background-color: #fff;
}

.search-form__checkbox[type="checkbox"]:checked
  + .search-form__pseudo-checkbox {
  width: 15px;
  height: 15px;
  outline: 1px solid #fff;
  outline-offset: 1px;
  background-color: #fff;
}

.search-form__checkboxo:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-block-start: 20px;
}

.more-button {
  width: 399px;
  height: 34px;
  margin: 2px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inline-size: 399px;
  gap: 22px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow-y: scroll;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  padding-block-end: 6px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  color: #fff;
}

.content__list-item:not(:last-child) {
  padding-block-end: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2px;
}

.content__video-card:hover {
  text-decoration: underline 1px;
  text-decoration-skip-ink: none;
}

.content__video-card:active {
  background-color: #545050;
  text-decoration: none;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  margin: 2px;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
